@{
    ViewBag.Title = "About the Student Food App:";
}
<section class="hero" id="hero" style="padding-top: 90px; padding-bottom:90px;">

    <h2 class="hero_header">About</h2>
    <p class="tagline">Come meet the team</p>
</section>
<p>&nbsp;</p>
<section class="gallery">
    <div class="TEAM">
        <div class="rowabout">
            <div class="columnabout">
                <div class="cardabout">
                    <img src="~/images/Jiminy.jpg" alt="Jiminy" style="width:100%">
                    <div class="containerabout">
                        <h2>Jiminy Haynes</h2>
                        <p class="titleabout">Team Leader</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="buttonabout">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="columnabout">
                <div class="cardabout">
                    <img src="~/images/Callum.jpg" alt="Callum" style="width:100%">
                    <div class="containerabout">
                        <h2>Callum Huntington</h2>
                        <p class="titleabout">Front-End Developer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="buttonabout">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="columnabout">
                <div class="cardabout">
                    <img src="~/images/Will.jpg" alt="Will" style="width:100%;">
                    <div class="containerabout">
                        <h2>Will Cooke</h2>
                        <p class="titleabout">Front-End Developer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="buttonabout">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="columnabout">
                <div class="cardabout">
                    <img src="~/images/Mitroi.jpg" alt="Ovidiu" style="width:100%">
                    <div class="containerabout">
                        <h2>Ovidiu Mitroi</h2>
                        <p class="titleabout">Back-End Developer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="buttonabout">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="columnabout">
                <div class="cardabout">
                    <img src="~/images/Aivaras.jpg" alt="Aivaras" style="width:100%">
                    <div class="containerabout">
                        <h2>Aivaras Jonikas</h2>
                        <p class="titleabout">Back-End Developer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="buttonabout">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="columnabout">
                <div class="cardabout">
                    <img src="~/images/Kaloyan.jpg" alt="Kaloyan" style="width:100%">
                    <div class="containerabout">
                        <h2>Kaloyan Stoyano</h2>
                        <p class="titleabout">Front-End/App Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>example@example.com</p>
                        <p><button class="buttonabout">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</section>






<section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">For news and updates subscribe to our newsletter:</p>
    <div class="button">subscribe</div>
</section>

<!-- Copyrights Section -->
<div class="copyright">&copy; 2017 - <strong>Group C4 - Real World Project 206CDE</strong></div>

