@{
ViewBag.Title = "Home Page";
}

<!-- Navigation -->
<section class="hero" id="hero">
<h2 class="hero_header">Student Food</h2>
<p class="tagline">Welcome to the Student Food site, making the student struggle that little bit easier.</p>
</section>
<section class="about" id="about">
    <h2 class="hidden">About</h2>
    <p align="center" class="about">
        The Student food App was created by students for students. We know that coming up with meal plans is difficult, especially when you’re living on a budget. To make your life easier, we take your food preferences, budget, and lifestyle and create recipes that best suit you. We compare ingredient prices for the all major supermarkets and tell you the cheapest option.

        But if that’s still too much hassle for you, we can deliver the exact ingredients for your chosen weekly recipes in a convenient cardboard box. One package, one delivery with a weeks’ worth of meals, easy to prepare, easy to cook and crafted for you.
    </p>

</section>

<!-- Stats Gallery Section -->
<div class="gallery">
    <div class="thumbnail">
        <h1 class="stats">Chicken and vegetables</h1>
        <img src="~/images/chicken_meal.jpg" alt="Error loading image" style="width:200px;height:200px;">
        <h4>With green beans, tomatoes and basil</h4>
        <p>A quick 10 minute classic</p>
    </div>
    <div class="thumbnail">
        <h1 class="stats">Fish and chips</h1>
        <img src="~/images/fish_meal.jpg" alt="Error loading image" style="width:200px;height:200px;">
        <h4>With broccoli and carrots</h4>
        <p>One line description</p>
    </div>
    <div class="thumbnail">
        <h1 class="stats">Beef and potatoes</h1>
        <img src="~/images/beef_meal.jpg" alt="Error loading image" style="width:200px;height:200px;">
        <h4>With beans and yellow stuff</h4>
        <p>One line description</p>
    </div>
    <div class="thumbnail">
        <h1 class="stats">McDonalds</h1>
        <img src="~/images/burger_meal.jpg" alt="Error loading image" style="width:200px;height:200px;">
        <h4>With chips and onion rings</h4>
        <p>One line description</p>
    </div>
</div>
<div class="gallery">
    <div class="thumbnail">
        <h1 class="stats">Recipe 5</h1>
        <img src="~/images/burger_meal.jpg" alt="Error loading image" style="width:200px;height:200px;">
        <h4>Recipe Name</h4>
        <p>One line description</p>
    </div>
    <div class="thumbnail">
        <h1 class="stats">Recipe 6</h1>
        <img src="~/images/beef_meal.jpg" alt="Error loading image" style="width:200px;height:200px;">
        <h4>Recipe Name</h4>
        <p>One line description</p>
    </div>
    <div class="thumbnail">
        <h1 class="stats">Recipe 7</h1>
        <img src="~/images/fish_meal.jpg" alt="Error loading image" style="width:200px;height:200px;">
        <h4>Recipe Name</h4>
        <p>One line description</p>
    </div>
    <div class="thumbnail">
        <h1 class="stats">Recipe 8</h1>
        <img src="~/images/chicken_meal.jpg" alt="Error loading image" style="width:200px;height:200px;">
        <h4>Recipe Name</h4>
        <p>One line description</p>
    </div>
</div>

<!-- Nutrition Section -->
<section class="banner">
    <h2 class="nutrition">This could be the nutrition section.</h2>
    <p class="nutrition_description">Here's description text regarding nutrition.</p>
</section>
<footer>
            <article class="footer_column">
                <h3>The student lifestyle</h3>
                <img src="~/images/food_pyramid.jpg" alt="" width="400" height="200" class="cards" />
                <p>Students are lazy. They do not eat as well as they should (yes, that means you). Nutrition is important because reasons.</p>
            </article>
            <article class="footer_column">
                <h3>How we can fix it</h3>
                <img src="images/burger_meal.jpg" alt="" width="400" height="200" class="cards" />
                <p>This site is designed to fix your lifestyle - trust me.</p>
            </article>
        </footer>

        <!-- Footer Section -->
        <section class="footer_banner" id="contact">
            <h2 class="hidden">Footer Banner Section </h2>
            <p class="hero_header">For news and updates subscribe to our newsletter:</p>
            <div class="button">subscribe</div>
        </section>

        <!-- Copyrights Section -->
        <div class="copyright">&copy; 2017 - <strong>Group C4 - Real World Project 206CDE</strong></div>