
<!-- Hero Section -->
<section class="hero" id="hero">

    <h2 class="hero_header">Student Food</h2>
    <p class="tagline">Welcome to the Student Food site, making the student struggle that little bit easier.</p>
</section>

<!-- About Section -->
<section class="about" id="about">
    <p align="center" class="about">
        The Student food App was created by students for students. We know that coming up with meal plans is difficult, especially when you’re living on a budget. To make your life easier, we take your food preferences, budget, and lifestyle and create recipes that best suit you. We compare ingredient prices for the all major supermarkets and tell you the cheapest option.

        But if that’s still too much hassle for you, we can deliver the exact ingredients for your chosen weekly recipes in a convenient cardboard box. One package, one delivery with a weeks’ worth of meals, easy to prepare, easy to cook and crafted for you.
    </p>

</section>

<!-- Stats Gallery Section -->
<div>
    <h1 style="text-align:center"><strong>How it works</strong></h1>
    <div align="center"><img src="~/images/test1.jpg" width="60%" height="25%" /></div>
    <h2 style="text-align:center">Making the student struggle that little bit easier.</h2>
    <article class="footer_column" style="background-color: #FFFFFF;">
        <h2 style="text-align:center">Convenience</h2>
    </article>
    <article class="footer_column" style="background-color: #FFFFFF;">
        <h2 style="text-align:center">Healthy</h2>
    </article>

    <!-- Nutrition Section -->
    <section class="banner" style="height:300px;">
        <h2 align="center" class="nutrition">This could be the nutrition section.</h2>
        <p class="nutrition_description">Here's description text regarding nutrition.</p>
    </section>

    <!-- More Info Section -->
    <footer>
        <article class="footer_column">
            <h3>The student lifestyle</h3>
            <img src="~/images/food_pyramid.jpg" alt="" width="400" height="200" class="cards" />
            <p>Students are lazy. They do not eat as well as they should (yes, that means you). Nutrition is important because reasons.</p>
        </article>
        <article class="footer_column">
            <h3>How we can fix it</h3>
            <img src="~/images/burger_meal.jpg" alt="" width="400" height="200" class="cards" />
            <p>This site is designed to fix your lifestyle - trust me.</p>
        </article>
    </footer>

    <!-- Footer Section -->
    <section class="footer_banner" id="contact">
        <h2 class="hidden">Footer Banner Section </h2>
        <p class="hero_header">For news and updates subscribe to our newsletter:</p>
        <div class="button">subscribe</div>
    </section>

    <!-- Copyrights Section -->
    <div class="copyright">&copy; 2017 - <strong>Group C4 - Real World Project 206CDE</strong></div>
</div>

<!-- Main Container Ends -->
</body>
</html>