<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fappnation.myfoodapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginScreen" />
        <activity android:name=".SignUp" />
        <activity android:name=".Signupflex" />
        <activity android:name=".PersonalDetails" />
        <activity android:name=".Foodrate" />
        <activity android:name=".Youredone" />
        <activity android:name=".RateFood2" />
        <activity android:name=".RateFood3" />
        <activity android:name=".RateFood4" />
        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Askme"></activity>
    </application>

</manifest>